* {
    margin: 0;
    padding: 0;
    font-family:'Gideon Roman', cursive;
    
}
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

:root {
    --azul-Fraco: #66ffff33;
    --azul-intermedio: #8cbfe6;
    --lilás-fraco: #b380cc;
    --lilás-forte: #d940b3;
    --pink-rosa: #ff0099;
    --branco-azure: #fff;
    --cinza-grey: #9b9898;
}
body {
    background: linear-gradient(90deg, var(--azul-intermedio), var(--lilás-fraco));
    min-height: 100vh;
    min-width: 100vw;
    display:grid;
    align-items: center;
    justify-content: center;
}
#texto{
    color: var(--branco-azure);

}